#Latest {
    min-height: 80vh;
background-image: url("https://minery-store-demo.myshopify.com/cdn/shop/files/bg_prod.jpg?v=1619081942");
    .LatestArea {
        width: 90%;
        margin: auto;
        .TitleLatest {
            padding: 70px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: #944E63;
            
        }

        .ActiveClassCoolection {
           margin-bottom: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            font-size: 22px;
         
            li a{
              
                
                color: black;
                &:hover{
                    transition: 0.4s;
                    background-color: rgb(226, 161, 161);
                }
            }
        }
    }
}


.LatestBox {
    .LatestImg {
        width: 100%;

        img {
            border-radius: 20%;
            width: 320px;
        }
    }

    .Icons {
        position: absolute;
        flex-direction: column;
       display: flex;
        align-items: center;
        justify-content: center;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
         background-color:orange ;
        }
   
    }
    .titleby{
        text-align: center;
        width: 300px;
        h1{
             &:hover{
            color: orange;
            transition: 0.3s;
        }
    }
        h2{
            &:hover{
                color: orange;
                transition: 0.3s;
        }
    }
        h3{
            color: black;
            font-size: 22px;
            &:hover{
                color: orange;
                transition: 0.3s;
        }
        }
        }
       
    }



.LatestBox:hover .Icons {

    flex-direction: column;
    display: flex;
    gap: 10px;
    left: 30px;
    bottom: 120px;
    font-size: 20px;
    transform: translateY(-162px);
    transition: 0.5s;
}
.faheart{
    // background-color: #944E63;
       
    // width: 30px;
    // height: 30px;
    color:white;
    &:hover{

transition: 0.3s;
    }
}
