#Latest {
    min-height: 80vh;

    .LatestArea {
        width: 90%;
        margin: auto;
        .TitleLatest {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: #944E63;
        }

        .ActiveClassCoolection {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            font-size: 22px;
         
            li a{
              
                
                color: black;
                &:hover{
                    transition: 0.4s;
                    background-color: rgb(226, 161, 161);
                }
            }
        }
    }
}


.LatestBox {
    .LatestImg {
        width: 100%;

        img {
            width: 400px;
        }
    }

    .Icons {
        position: absolute;
        flex-direction: column;
       display: flex;
        align-items: center;
        justify-content: center;
   
    }

}

.LatestBox:hover .Icons {

    flex-direction: column;
    display: flex;
    gap: 10px;
    left: 30px;
    bottom: 40px;
    font-size: 25px;
    transform: translateY(-162px);
    transition: 0.5s;
}
.faheart{
    // background-color: #944E63;
       
    // width: 30px;
    // height: 30px;
    color: #6D2932;
    &:hover{
color: orange;
transition: 0.3s;
    }
}