#Vintage {
    margin-top: 200px;

    .VintageArea {
        .VintageAreaBox {

            .VintageBox {
                flex-wrap: wrap;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;

                .ImageVintage {
                    // width: 100%;

                    img {
                        max-width: 290px;
                    }
                }
            }
        }
    }
}