.Detail {
    background-image: url("https://xpressrow.com/html/cafena/cafena/assets/images/shape/top-grade-shape-2-1.png");
    padding: 200px;
    // background-repeat: no-repeat;

    img {
        width: 400px;
    }

    .Uldetail {
        align-items: center;
        justify-content: center;
        display: flex;
gap: 40px;
        .LiImg {}

        .Infos {
            li {
                font-size: 25px;
                span{
                   font-weight:800;
                }
            }
        }
    }
    .Icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
       
       .butoni{ 
        border-radius: 10px;
        font-size: 18px;
        width: 150px;
       }
    }

}