#PathWill {
    min-height: 100vh;

    .PathWillArea {
        margin-top: 100px;
        .LoremPath {
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .TitlePath {
           
            font-size: 22px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .PathWillBoxArea {
            margin-top: 100px;
            // display: flex;
            // flex-wrap: wrap;
            // align-items: center;
            // justify-content: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
            .PathBox {
                .ImagePath {
                    text-align: center;

                    font-size: 60px;
                    height: 300px;
                    // width:400px;
                    // width: 100%;

                    img {
                        width: 25%;
                        margin-left: 50px;
                        margin-top: 10px;
                    }

                    &::before {

                        content: "";
                        height: 33%;
                        width: 15%;
                        // left:100px;
                        position: absolute;

                        z-index: -1;
                        transition: all 0.3s linear;
                        background-color:#98c397;
                        animation: blobing 25s ease-in-out infinite both alternate;
                
                  
                    } 
                    
                  }
                }

                .TextPath {
                    font-size: 18px;
                    text-align: center;
                }

                .LoreminPath {
                    margin-top: 20px;
                    font-size: 20px;
                    text-align: center;
                    width: 500px;
                }
            }
        }
    }






@keyframes blobing {

    0%,
    100% {
        border-radius: 73% 27% 62% 38% / 26% 36% 64% 74%;
    }

    7% {
        border-radius: 50% 50% 54% 46% / 69% 69% 31% 31%;
    }

    14% {
        border-radius: 71% 29% 42% 58% / 35% 67% 33% 65%;
    }

    21% {
        border-radius: 47% 53% 68% 32% / 70% 68% 32% 30%;
    }

    28% {
        border-radius: 25% 75% 62% 38% / 39% 60% 40% 61%;
    }

    35% {
        border-radius: 70% 30% 64% 36% / 43% 59% 41% 57%;
    }

    42% {

        border-radius: 44% 56% 67% 33% / 33% 46% 54% 67%;
    }

    49% {

        border-radius: 66% 34% 35% 65% / 68% 69% 31% 32%;
    }

    56% {

        border-radius: 43% 67% 29% 71% / 43% 46% 54% 57%;
    }

    63% {

        border-radius: 25% 75% 62% 38% / 39% 60% 40% 61%;
    }

    70% {

        border-radius: 71% 29% 27% 73% / 52% 59% 41% 48%;
    }

    77% {

        border-radius: 49% 51% 72% 28% / 32% 36% 64% 68%;
    }

    84% {

        border-radius: 74% 26% 43% 57% / 51% 25% 75% 49%;
    }

    91% {

        border-radius: 30% 70% 57% 43% / 53% 38% 62% 47%;
    }
}
