div{


.TextAccordion{
    margin-top: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #161A30;
    font-size: 22px;
}

#Accordion{
    background-color: #D4E7C5;
    width: 50%;
    min-height: 90vh;
    margin: auto;
    margin-top: 100px;
    border: 1px solid #789461;
}
}