


.slider{
     border: none;
    border-radius: 25%;
   
.button{
   .IoSunnySharp{
    font-size: 42px;
}
}


}
.modebutton{
    border-radius: 50%;
    font-size: 22px;
    width: 50px;
    height: 50px;
}
@media only screen and (max-width: 427px){
    .modebutton{
        border-radius: 50%;
        font-size: 22px;
        width: 40px;
        height: 40px;
    }
}